[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
pendulum = "==1.5.0"
click = "*"
simplejson = "*"
websockets = "*"
"psycopg2" = "*"
pyodbc = "*"
prompt-toolkit = "==2.0.4"
pytest = "*"
"autopep8" = "*"
rope = "*"
ipython = "*"
jupyter = "*"
pandas = "*"
pipfile = "*"
openpyxl = "*"
matplotlib = "*"

[dev-packages]
ipdb = "*"
pytest = "*"
mock = "*"
responses = "*"
pylint = "*"
rope = "*"
